*{
    margin:0;
    padding:0;
    font-family: Roboto;
}
.header{
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/banner2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 50px;
    text-align: center;
    color: white;
}
.header img{
    float:left;
    padding-left: 0;
    margin:0;
    width:250px;
    height:100px;
}
.login{
    width:100px;
    padding: 8px 0;
    outline:none;
    border:2px solid rgb(240, 146, 24);
    border-radius: 50px;
    background: transparent;
    color:rgb(240, 146, 24);
    float:right;

}
.header h1{
    padding-top: 250px;
    font-size: 60px;
}
.header p{
    font-size: 30px;
}
.input-group{
    width:80% !important;
    height:auto;
    max-width: 500px;
    border-radius: 50px;
    background: white;
    margin: auto;
    padding: 2px;

}
.form-control{
    border:0 !important;
    border-radius: 30px !important;
    margin: 2px;
    box-shadow: none !important;
}
.input-group-text-btn{
    float:right;
    width:100px;
    background-image: linear-gradient(rgb(101, 101, 241),rgb(17, 17, 80));
    border:0 !important;
    color:white !important;
    padding: 10px 25px !important;
    border-radius: 30px !important;
    box-shadow: none !important;

}
.features{
    padding:100px 0;

}
h1{
    text-align: center;
    padding-bottom: 30px;
}
.feature-img img{
    width:100%;

}
.price{
    width: 120px;
    height: 40px;
    background: orangered;
    color:white;
    font-weight: 600;
    border-radius: 50px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 10px 1px rgba(37,37,214,0.18);
    position:absolute;
    left:20px;
    bottom:-25px;
}
.feature-img{
    position: relative;
}
.rating{
    padding: 3px;
    background:white;
    float: right;
    bottom: -1px;
    right:0;
    position: absolute;
}
.features .fa{
    font-size: 15px;
    color:orangered;

}
.feature-details{
    padding:20px 15px;
    text-align: justify;
}
.feature-details h4{
    font-weight: 600;
    margin-top:20px;
}
.feature-details .fa{
    margin-right: 5px;

}
.feature-box{
    box-shadow: 0 0 10px 1px rgba(37,37,214,0.18);
    margin-bottom: 30px;
}
.gallery{
    padding: 100px 0;
    background: rgb(224, 223, 223);
    margin:0;
}
.gallery-box img{
    width:100%;
    border-radius:10px;
    cursor:pointer;
    transition:1s;
    margin-left: 0;
    margin: 0;
}
.gallery-box img:hover{
    transform:scale(1.1);
}
.gallery-box h4{
    display:block;
    color:white;
    text-shadow:-2px 2px 2px #000;
    font-weight:600;
    font-size: 20px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.gallery-box{
    position:relative;
    margin-bottom:30px;
    
}
.banner{
    height:80%;
    background-image: url(images/banner1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 15%;
}
.banner-highlights{
    padding:70px 0;
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: white;
}
.booking-btn{
    width:120px;
    padding: 8px 0;
    outline:none;
    border:2px solid rgb(255, 255, 255);
    border-radius: 50px;
    background: transparent;
    color:rgb(255, 255, 255);
    margin-top: 20px;
}
.users-feedback{
    padding:100px 0;

}
.user-review{
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(6, 6, 97, 0.2);
    padding-bottom: 50px;
}
.user-review p{
    padding: 50px  10px 10px 10px;
   
}
.users-feedback img{
    width: 60px;
    height:60px;
    border-radius: 50%;
    position: relative;
    margin:-30px 0 20px 40%;
}
.footer{
    padding:100px 20px 15px;
    background-image: linear-gradient(rgba(63, 61, 196, 0.863),rgb(75, 47, 75));
    color:white;
}
.footer-logo{
    width:100px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer h4{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;
}
.footer p{
    font-size: 12px;
    text-align: justify;
    padding-right: 35px;
}
.footer .row .fa{
    padding-right: 20px;
    font-size: 15px;
}
.footer hr{
    margin-top: 10px;
    background: white;
}
.fa-heart{
    margin:0 5px;
    color:rgb(155, 23, 23);
}
.footer .copyright{
    text-align: center;
}











